/* Futura fonts made from oNline Web Fonts are licensed by CC BY 3.0 */
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura_Book.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Futura"; 
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Futura Medium"; 
  src: url("../fonts/Futura_Medium.woff2") format("woff2");
  font-weight: bold;
}

/* C64 Pro Mono courtesy of Style64.org - https://style64.org/c64-truetype */
@font-face {
  font-family: "C64-Pro-Mono"; 
  src: url("../fonts/C64_Pro_Mono-STYLE.woff2") format("woff2");
}

:root {
  /* Commodore 64 "Pepto" Palette */ 
  --c64-blk:    #000000;
  --c64-grey1:  #4a4a4a;
  --c64-grey2:  #7b7b7b;
  --c64-grey3:  #b2b2b2;
  --c64-white:  #ffffff;
  --c64-red:    #813338;
  --c64-ltred:  #c46c71;
  --c64-brown:  #553800;
  --c64-orange: #8e5029;
  --c64-yellow: #edf171;
  --c64-ltgreen:#a9ff9f;
  --c64-green:  #56ac4d;
  --c64-cyan:   #75cec8;
  --c64-ltblue: #706deb;
  --c64-blue:   #2e2c9b;
  --c64-purple: #8e3c97;

  --primary-color:   var(--c64-grey1);
  --secondary-color: var(--c64-blue) ;
  --accent1-color:   var(--c64-ltblue);
  --accent2-color:   var(--c64-grey3);
  --accent3-color:   var(--c64-blk);

  /* change the values below to your chosen font(s) */
  --heading-font: "Futura", Helvetica, Arial, sans-serif;
  --paragraph-font: "Futura", Helvetica, Arial, sans-serif;
  --semibold-font: "Futura Medium", Helvetica, Arial, sans-serif;
  --code-font: "C64-Pro-Mono", "Source Code Pro", Courier, monospace;

  /* these colors below should be chosen from among your palette colors above */
  
  /* headlines on a white background */ 
  --headline-color-on-white: var(--secondary-color);
  
  /* headlines on a colored background */ 
  --headline-color-on-color: white;
  
  /* paragraph text on a white background */ 
  --paragraph-color-on-white: var(--primary-color);
  
  /* paragraph text on a colored background */ 
  --paragraph-color-on-color: var(--c64-white);

  /* colored background for paragraph text */
  --paragraph-background-color:  var(--secondary-color);

  /* Navigation Colors */
  --nav-link-color: var(--accent2-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--c64-white);
  --nav-hover-background-color: var(--c64-blue);
  --nav-border-color: var(--c64-ltblue);
}


#typography-grid {
  display: grid;
  grid-template-columns: 200px 300px;
  grid-column-gap: 20px;
}

.font-title-1, .font-title-2, .font-title-3 {
  font-family: var(--semibold-font);
  /* font-family: var(--heading-font); */
  font-weight: bold;
  justify-self: right;
  align-self: baseline;
  text-transform: uppercase;
}

.font-1, .font-2, .font-3 {
  align-self: baseline;
  font-family: var(--paragraph-font);
  padding: 5px 0;
}


body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: left;
}
img {
  display: block;
  max-width: 300px;
  /* margin: 0 auto; */
}

.wireframe {
  max-width: 768px;
  margin: 50px 100px;
  border: 1px solid grey;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  text-transform: uppercase;
}

h3, h4, h5, h6 {
  color: var(--accent3-color);
}

hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 0.125em 0;
  text-indent: 1.5em;
}

p a {
  font-family: var(--semibold-font);
  color: var(--c64-ltblue);
}

p a:active {
  color: var(--c64-red);
}

p a:visited {
  color: var(--c64-purple);
}

code {
  display: inline-block;
}

code, pre {
  font-family: var(--code-font);
  font-size: 0.75em;
  transform: scale(0.9, 1.0);
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
  font-family: var(--semibold-font);
  text-transform: uppercase;
  padding: 5px;
}
.colors td{
  width: 20%;
  height: 3em;
}

td.primary {
  background-color: var(--primary-color);
  color: white;
}
td.secondary {
  background-color: var(--secondary-color);
  color: white;
}
td.accent1 {
  background-color: var(--accent1-color);
  color: white;
}
td.accent2{
  background-color: var(--accent2-color);
  color: white;
}
td.accent3{
  background-color: var(--accent3-color);
  color: white;
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
  padding: 16px 24px;
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding: 20px;
  min-width: 120px;
  text-decoration: none;
  font-family: var(--code-font);
  font-size: 1.2em;
  transform: scale(0.9, 1.0);
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  border: 10px solid var(--nav-border-color);
  padding: 10px;
}

ul {
  font-family: var(--paragraph-font);
}

blockquote {
  font-family: var(--paragraph-font);
  font-style: italic;
}

.sitemap {
  display: block;
  width: 100%;
  text-align: center;
}

.sitemap-img {
  max-width: 60%;
  width: 1024px;
  margin: 0 auto;
}

s {
  text-decoration: line-through;
}